*{
    padding: 0;
    margin: 0;
}

body{
    /*font-family: Courier, monospace;*/
    font-family: verdana;
    animation: opacidade 2s;
}

@keyframes opacidade{
    0%{
        filter: opacity(10%);
    }

    100%{
        filter: opacity(100%);
    }
}

header{
    min-height: 20vh;
    background: khaki;
    color: rgb(58, 58, 58);
}

main{
    min-height: 60vh;
}

footer{
    min-height: 20vh;
    background: #222;
    color: white;
}

#table-responsive{
    overflow: auto;
    max-height: 50vh;
}

