input[type='submit'], .button, input[type='button']{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: rgb(41, 105, 41);
    color: white;
    font-weight: bold;
}

input[type='submit']:hover, .button:hover, input[type='button']:hover{
    background: rgb(1, 71, 1);
}

input[type='text'], input[type='email'], input[type='date'], input[type='password']{
    padding: 5px;
    border: 2px solid cadetblue;
    margin-top: 5px;
    width: 205px;
}

select{
    width: 205px;
    padding: 5px;
    border: 2px solid cadetblue;
    margin-top: 5px;
}
