input[type='submit'], .button, input[type='button']{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: khaki;
    color: black;
    font-weight: bold;
}

input[type='submit']:hover, .button:hover, input[type='button']:hover{
    background: rgb(44, 73, 74);
    color: white;
}

input[type='text'], input[type='email'], input[type='date'], input[type='password']{
    padding: 5px;
    border: 2px solid cadetblue;
    margin-top: 5px;
}

select{
    padding: 5px;
    border: 2px solid cadetblue;
    margin-top: 5px;
}
